body {
    display: flex;
    justify-content: center;
}

table, tr, td, th {
    border: solid 1px #000000;
    color: darkcyan;
}

th {
    font-size: 40px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.btnList {
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
    margin-right: 3px;
}

select {
    border: none;
    background-color: darkcyan;
    color: white;
}

.search-input {
    margin: 5px;
    /* background-image: url('https://icon-library.com/images/search-icon-images/search-icon-images-10.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
     background-position: left center; 
    outline: 0; */
}

label {
    color: darkcyan;
}

.activePage{
    background-color:rgb(8, 76, 133);
}

