body {
    display: flex;
    justify-content: center;
}

table, tr, td, th {
    border: solid 1px #000000;
    color: darkcyan;
    text-align: center;
}

th {
    font-size: 40px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.btnList {
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
    margin-right: 3px;
}

select {
    border: none;
    background-color: darkcyan;
    color: white;
}

.search-input {
    margin: 5px;
    /* background-image: url('https://icon-library.com/images/search-icon-images/search-icon-images-10.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
     background-position: left center; 
    outline: 0; */
}

label {
    color: darkcyan;
}

.delete{
    cursor: pointer;
}

.activePage{
    background-color:rgb(8, 76, 133);
}

.table-head-data{
    cursor: pointer;
}

th[data-sort-order = 'des']::after{
    content: ' ↑';
}

th[data-sort-order = 'asc']::after{
    content: ' ↓';
}

.button-add{
    width: 100px;
    height: 20px;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.data-table-container{
    position: absolute;
}

form{
    position: relative;
    display: table-caption;
    margin: 10px;
    padding: 15px;
    /* top: -200px;
    left: 150px; */
    background: #022c37;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.4);
}

.edit-data{
    cursor: pointer;
}

.selected-data{
    margin-left: 15px;
}